body {
  font-family: 'Brush Script MT', cursive;
  margin: 0;
  padding: 0;
}

.App {
  margin: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 1.5rem; 
}

input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1.5rem; 
  width: 300px;
}

div {
  margin: 10px 0;
}

.output {
  font-size: 1.5rem; 
}
